body {
  background-color: #146873; 
  width: 100%;
  margin: auto;
}

.App {
  text-align: center;
  background-color: #146873;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #81fdf9;
}

header {
  background-color: #0C373D;
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.Info-wrapper {
  width: 50%;
  margin: auto;
}
span {
  float: left;
  margin-right: 10%;
}
.Currency-wrapper {
  width: 50%;
  margin: auto;
  margin-top: 40pt;
}

.Currency-block {
  padding-bottom: 20pt;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  font-size: 20pt;
  padding: 10pt 10pt;
  border-radius: 5pt;
  background-color: #0C373D;
  color: #81fdf9;
}

select:after {
  content: "";
  display: block;
}

input {
  outline: none;
  border: none;
  background-color: #0C373D;
  color:#81fdf9;
  padding: 7pt;
  font-size: 25pt;
  margin-left: 30pt;
  border-radius: 5pt;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}